# package: {{ name }}

{% if header_only %}

{% for dir in include_dirs %}
list(APPEND CPM_INCLUDE_DIRS {{ dir }})
{% endfor %}

{% else %}

{% for opt in cmake_options %}
{% if opt.mode == 'CACHE' %}
set({{ opt.key }} {{ opt.value }} CACHE {{ opt.type }} "" FORCE)
{% else %}
set({{ opt.key }} {{ opt.value }})
{% endif %}
{% endfor %}

add_subdirectory({{ cmake_path }} cpm/{{ name }})

{% for opt in cmake_target_properties %}
set_target_properties({{ name }} PROPERTIES {{ opt.key }} {{ opt.value }})
{% endfor %}

{% if cmake_extras %}
{{ cmake_extras }}
{% endif %}

{% for dir in include_dirs %}
list(APPEND CPM_INCLUDE_DIRS {{ dir }})
{% endfor %}
{% for lib in link_libraries %}
list(APPEND CPM_LINK_LIBRARIES {{ lib }})
{% endfor %}

{% endif %}
