from cpm.recipes import add_cmake_recipe, GitOption

add_cmake_recipe(
    name="{{ name }}",
    git_options=GitOption(
        url="{{ url }}",
    ),
    include_dirs=[
        ".",
    ],
    link_libraries=[
    ],
)
